{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    {% include 'client_navbar.html' %}
{% endblock %}
{% block content %}

      <br><br><br><br>
      <section class="payment-summary mt-5">
        <div class="bg-white border rounded-5 shadow-sm p-4">
            <section class="w-100 d-flex flex-column justify-content-center pb-4">
                <p>You are about to fund your wallet with <strong>KES. {{ payment.amount }}</strong> and transaction reference <em>{{ payment.ref }}</em></p>
            </section>
        </div>
    </section>
    
    <div class="payment-container container shadow-sm p-4 rounded-5">
        <div class="payment-title text-center mb-4">
            <h4>Select a <span style="color: #2d2f92">Payment</span> method</h4>
        </div>
        <form action="#">
                <div class="payment-methods">
                    <label for="mpesa" class="payment-method">
                        <input type="radio" name="payment" id="mpesa">
                        <div class="method-details">
                            <div class="imgpayment-container">
                                <img src="{% static 'images/payment/mpesa.jpg' %}" alt="M-pesa">
                            </div>
                            <span class="name">M-pesa</span>
                        </div>
                        <span class="check"><i class="fa-solid fa-circle-check" style="color: #2d2f92;"></i></span>
                    </label>
                    <label for="binance" class="payment-method">
                        <input type="radio" name="payment" id="binance">
                        <div class="method-details">
                            <div class="imgpayment-container">
                                <img src="{% static 'images/payment/binance.png' %}" alt="Binance">
                            </div>
                            <span class="name">Binance</span>
                        </div>
                        <span class="check"><i class="fa-solid fa-circle-check" style="color: #2d2f92;"></i></span>
                    </label>
                    <label for="visa" class="payment-method">
                        <input type="radio" name="payment" id="visa">
                        <div class="method-details">
                            <div class="imgpayment-container">
                                <img src="{% static 'images/payment/card.gif' %}" alt="Credit/Debit Card">
                            </div>
                            <span class="name">Credit/Debit Card</span>
                        </div>
                        <span class="check"><i class="fa-solid fa-circle-check" style="color: #2d2f92;"></i></span>
                    </label>
                    <label for="paypal" class="payment-method">
                        <input type="radio" name="payment" id="paypal">
                        <div class="method-details">
                            <div class="imgpayment-container">
                                <img src="{% static 'images/payment/paypal.png' %}" alt="PayPal">
                            </div>
                            <span class="name">PayPal</span>
                        </div>
                        <span class="check"><i class="fa-solid fa-circle-check" style="color: #2d2f92;"></i></span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mpesaRadio = document.getElementById('mpesa');
            const visaRadio = document.getElementById('visa');
            const paypalRadio = document.getElementById('paypal');
        
            mpesaRadio.addEventListener('click', function() {
                payWithPaystack();
            });
        
            visaRadio.addEventListener('click', function() {
                payWithPaystack();
            });

            paypalRadio.addEventListener('click', function() {
                // Redirect to the job_purchase view for PayPal
                window.location.href = "{% url 'payments:job_purchase' job_id %}";
            });
        });
        
        function payWithPaystack() {
            let currency = "KES";
            let plan = "";
            let ref = "{{ payment.ref }}";
            let amount = "{{ payment.amount }}";
            let obj = {
                key: "{{ paystack_pub_key }}",
                email: "{{ payment.email }}",
                amount: "{{ amount_value }}",
                ref: ref,
                callback: function (response) {
                    window.location.href = "{% url 'payment:verify_payment' payment.ref %}";
                },
            };
            if (Boolean(currency)) {
                obj.currency = currency.toUpperCase();
            }
            if (Boolean(plan)) {
                obj.plan = plan;
            }
            var handler = PaystackPop.setup(obj);
            handler.openIframe();
        }
      </script>

    {% endblock %}
    {% block footer %}
       {% include 'client_footer.html' %}
    {% endblock %}