# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.mo
db.sqlite3
debug.log
db.sqlite3-journal

# Media & static files
media/
staticfiles/
static/

# VS Code
.vscode/

# PyCharm
.idea/

# Local environment configs
*.env
.env.*



api/wallet/__pycache__/*
core/__pycache__/*
freelance/__pycache__/*
wallet/__pycache__/*