{% extends 'base.html' %}
{% block navbar %}
    {% include 'client_navbar.html' %}
{% endblock %}
{% block content %}
<br><br><br><br>
        <div class="shadow-wrap">
            <div class="form-wrap">
                <h3>Update Password </h3>
                <form method="POST" action="{% url 'accounts:update_password' %}">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <br><br>
                    <button type="submit" id="my-button" class="c-button c-button--gooey"> Update Password
                        <div class="c-button__blobs">
                        <div></div>
                        <div></div>
                        <div></div>
                        </div>
                      </button>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
                        <defs>
                          <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                            <feBlend in="SourceGraphic" in2="goo"></feBlend>
                          </filter>
                        </defs>
                      </svg>
                </form>
            </div>
        </div>
        {% endblock %}
     {% block footer %}
        {% include 'client_footer.html' %}
     {% endblock %}