{% extends 'base.html' %}
{% block navbar %}
    {% include 'client_navbar.html' %}
{% endblock %}
{% block content %}

      <div class="breadcrumb">
        <a href="{% url 'core:client_index' %}" class="breadcrumb-item">Home</a>
        <span class="breadcrumb-separator"></span>
        <span class="breadcrumb-item current">Contact</span>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-container">
              <div class="contact-info">
                <h2 class="mb-4" style="font-size: 24px;">Contact Us</h2>
                <p class="lead">For inquiries, collaborations, or any questions, feel free to reach out to us via the contact form or directly at our provided email address, and we'll be delighted to assist you promptly.</p>
                <p class="mb-4">
                  <strong>Tel:</strong> <a href="tel:+254725830334">+254 725 830 334</a><br>
                  <strong>Email:</strong> <a href="mailto:nilltechsolutions14@gmail.com">nilltechsolutions14@gmail.com</a>
                </p>
                <p class="mb-4">
                  <a href="https://www.google.com/maps" target="_blank" class="btn btn-outline-primary btn-hover">
                    <i class="fas fa-map-marked-alt mr-2"></i> Open Maps
                  </a>
                </p>
              </div>
              <div class="contact-form">
                <h3 class="mb-4" style="font-size: 24px;">Get in Touch</h3>
                <form action="{% url 'core:client_contact' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <textarea rows="6" name="message" class="form-control" placeholder="Message..." required></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Send it</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

     {% endblock %}
     {% block footer %}
        {% include 'client_footer.html' %}
     {% endblock %}