{% extends 'base.html' %}
{% block navbar %}
    {% include 'client_navbar.html' %}
{% endblock %}
{% block content %}

      <div class="breadcrumb">
        <a href="{% url 'core:client_index' %}" class="breadcrumb-item">Home</a>
        <span class="breadcrumb-separator"></span>
        <span class="breadcrumb-item current">Create Jobs</span>
      </div>
      
      <div class="job-form-container">
        <h1>Create a New Job</h1>
        <div class="job-form-card">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="job-form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
              <small class="job-form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
              <p class="job-form-error">{{ error }}</p>
              {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="submit-button">Post Job</button>

          </form>
        </div>
      </div>
      {% endblock %}
     {% block footer %}
        {% include 'client_footer.html' %}
     {% endblock %}