{% extends 'base.html' %}
{% block navbar %}
    {% include 'client_navbar.html' %}
{% endblock %}
{% block content %}

      <div class="breadcrumb">
        <a href="{% url 'core:client_index' %}" class="breadcrumb-item">Home</a>
        <span class="breadcrumb-separator"></span>
        <span class="breadcrumb-item current">Jobs Responses</span>
      </div>


      <div class="job-responses-container">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <h1 class="job-responses-title">Responses for Your Jobs</h1>
        {% regroup responses by job as job_responses %}
        {% for job in job_responses %}
        <div class="job-response-group">
            <h2>{{ job.title }}</h2>
            <p>Attempted by {{ responses.count }} freelancers</p>
            <div class="job-response-list">
                {% for response in responses %}
                <div class="job-response-item">
                    <h3>Response by {{ response.user.username }}</h3>
                    <p><strong>Submitted At:</strong> {{ response.submitted_at }}</p>
                    <h4>Response Details:</h4>
                    <ul>
                        {% for key, value in response.extra_data.items %}
                        <li><strong>{{ key|capfirst }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                    
                    {% if job.grouper.status != 'completed' %}
                    <div class="response-actions">
                        <button class="accept-btn" data-job-id="{{ job.grouper.id }}" data-response-id="{{ response.id }}">Accept</button>
                        <button class="reject-btn" data-job-id="{{ job.grouper.id }}" data-response-id="{{ response.id }}">Reject</button>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

     
    {% endblock %}
     {% block footer %}
        {% include 'client_footer.html' %}
     {% endblock %}


