{% extends 'base.html' %}
{% load static %}
{% block title %}Academy {% endblock %}
{% block content %}


<div class="breadcrumb">
    <a href="{% url 'core:index' %}" class="breadcrumb-item">Home</a>
    <span class="breadcrumb-separator"></span>
    <span class="breadcrumb-item current">Academy</span>
  </div>

<div class="training-container">
  <h2 class="training-heading">Training</h2>
  {% if trainings %}
      {% for training in trainings %}
          {% if forloop.counter0|divisibleby:2 %}
              <div class="training-row">
          {% endif %}
          <a href="{% url 'academy:training' training.id %}" class="training-col">
              <div>
                  <h3 class="training-title">{{ training.title }}</h3>
                  {{ training.texts }}
              </div>
          </a>
          {% if forloop.counter|divisibleby:2 or forloop.last %}
              </div>
          {% endif %}
      {% endfor %}
  {% else %}
  <br><br><br>
      <h2>No trainings available at the moment.</h2>
      <br><br><br><br><br>
  {% endif %}
</div>

{% endblock %}
