{% extends 'base.html' %}
{% block navbar %}
    {% include 'client_navbar.html' %}
{% endblock %}
{% block content %}

      <div class="breadcrumb">
        <a href="{% url 'core:client_index' %}" class="breadcrumb-item">Home</a>
        <span class="breadcrumb-separator"></span>
        <span class="breadcrumb-item current">Edit Training</span>
      </div>

        <div class="academy-container">
            <div class="academy-content">
                <h2>Edit Training: {{ training.title }}</h2>
                <form method="post" enctype="multipart/form-data" class="academy-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group1">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text1 text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="submit-button">Save Changes</button>
                </form>
            </div>
        </div>


        {% endblock %}
          {% block footer %}
            {% include 'client_footer.html' %}
          {% endblock %}
          